<div class="container">
  <div class="row">
      <%= simple_form_for(@section, html: { class: 'form-horizontal' }) do |f| %>
        <div class="col-md-12">
          <%= f.input :title, label: "ES小项的标题" %>
        </div>
        <div class="col-md-12">
          <%= f.input :content,label: "内容",  as: :text  %>
        </div>
        <div class="col-md-12">
          <%= f.input :tag_ids, label: "选择标签", collection: Tag.all,  as: :check_boxes%>
        </div>
        <div class="col-md-12">
          <%= f.button :submit, "提交", class: "btn btn-info" %>
        </div>
      <% end %>
  </div>
</div>
