<div class="container">
  <div class="row">
    <% @sections.each do |section| %>
      <div class="col-md-12 list-content">
        <div class="list-image">
          <%=image_tag section.author.avatar_url %>
        </div>
        <div class="list-info">
          <div class="list-title">
            <%= section.title %>
	    <div class="list-meta">
	      <span class='list-user'><%=section.author.name %></span> 发表于
	      <%= time_ago_in_words section.created_at %> ago
	    </div>
          </div>
          <div class="tags">
            <a href="#" class="info">jQuery</a>
            <a href="#" class="danger">HTML5</a>
            <a href="#" class="warning">CSS3</a>
            <a href="#" class="success">DEMO</a>
          </div>
          <div class="list-operation">
            <%=link_to "修改", section_path(section), class: "btn btn-danger"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= paginate @sections %>
  </div>
</div>
