<div class="container">
	<div class="row">
        <div id="inbox">
          <div class="fab btn-group show-on-hover dropup">
              <div data-toggle="tooltip" data-placement="left" title="Compose" style="margin-left: 42px;">
          <button type="button" class="btn btn-danger btn-io dropdown-toggle" data-toggle="dropdown">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x fab-backdrop"></i>
                <i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse fab-secondary"></i>
            </span>
          </button></div>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="#" data-toggle="tooltip" data-placement="left" title="Coffee"><i class="fa fa-coffee"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="left" title="LiveChat"><i class="fa fa-comments-o"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="left" title="Reminders"><i class="fa fa-hand-o-up"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="left" title="Invites"><i class="fa fa-ticket"></i></a></li>
          </ul>
        </div>
        </div>
	</div>
</div>
<div class="container">
  <div class="row">
    <% @sections.each do |section| %>
      <div class="col-md-12 list-content">
        <div class="list-image">
          <%=image_tag section.author.avatar_url %>
        </div>
        <div class="list-info">
          <div class="list-title">
            <%= section.title %>
	    <div class="list-meta">
	      <span class='list-user'><%=section.author.name %></span> 发表于
	      <%= time_ago_in_words section.created_at %> ago
	    </div>
          </div>
          <div class="tags">
            <a href="#" class="info">jQuery</a>
            <a href="#" class="danger">HTML5</a>
            <a href="#" class="warning">CSS3</a>
            <a href="#" class="success">DEMO</a>
          </div>
          <div class="list-operation">
            <%=link_to "修改", section_path(section), class: "btn btn-danger"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
