<div class="container section-detail">
  <div class="row">
  <% if @modification %>
      <div class="col-md-12">
          <div class="box">
              <div class="box-icon">
            <%= image_tag @section.author.avatar_url, class: "user-photo" %>
              </div>
              <div class="info">
                  <h4 class="text-center"><%= @section.title %></h4>
            <p><%== @modification.highlighted_content %></p>
              </div>
          </div>
      </div>
    <% else %>
        <div class="col-md-12">
          <div class="box">
            <div class="box-icon">
        <%= image_tag @section.author.avatar_url, class: "user-photo" %>
            </div>
            <div class="info">
              <h4 class="text-center"><%= @section.title %></h4>
              <p><%= @section.content %></p>
            </div>
          </div>
        </div>
   <% end %>
</div>
  <% if @modification %>
  <div class="row comment-box">
    <div class="col-xs-4 col-md-2">
  <div class="user-profile">
    <%= image_tag @modification.user.avatar_url, class: "user-photo" %>
  </div>
</div>
<div class="col-xs-8 col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
            <span style="font-size: 12px;"><%=time_ago_in_words(@modification.updated_at)%> ago </span>
    </div>
    <div class="panel-body">
      <%== @modification.comment %>
    </div>
         </div>
       </div>
    </div>
    <% end %>
</div>
