<!DOCTYPE html>
<html>
  <head>
    <title>大家的Open ES</title>
    <%= favicon_link_tag('favicon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body>
    <div class="container">
      <%= render 'shared/header', partial: true %>
      <div class="row">
        <div class="col-md-12">
          <%= render partial: "shared/flash_messages", flash: flash %>
          <%= render "shared/float_icon", partial: true%>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
