<!DOCTYPE html>
<html>
  <head>
    <title>大家的Open ES</title>
    <%= favicon_link_tag('favicon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: "shared/flash_messages", flash: flash %>
          <%= render "shared/float_icon", partial: true%>
        </div>
      </div>
    </div>
    <%= yield %>
    <div class="footer" style="position: absolute; bottom: 5px; left: 5%; text-align: center;">
      Copyright © 2017 gyorou@tjjtds.me All Rights Reserved.
    </div>
  </body>
</html>
